header{
background-color: #383058;
  color:white;}
*{margin: 0;
padding: 0;}
{background-color:#383D58;
  color:white;
 display:flex;
 justify-content: space-around;
 padding: 24px 0;}
{
  display: inline-block:
margin: 0 16px;
padding: 24px 0;
font-size: 24px;}
body{
  font-family:'Poppins',sans-serif;
}

.estudante-imagem{
  width:120px;
}
.estudante-icone{
  width:24px;
}
.estudante-div{
  text-align: center;
}
.estudante-titulo{
text-align: center;
}
text-align: center;
padding: 50px 0;
<div class=”estudante-todos”>
<div class=”estudante-div”>
<img class=”estudante-imagem “src=”./img/Marcelo 1.png” alt=”foto do estudante
Marcelo”>
<h3 class=”estudante-nome”>Marcelo</h3>
<img class=”estudante-icone”src=”./img/instagram.png” alt=”Instagram”>
<img class=”estudante-icone”src=”./img/github.png” alt=”Github”>
<img class=”estudante-icone” src=”./img/linkedin.png” alt=”LinkedIn”>
</div>
</div>
.estudante-todos {
display:grid;
}
.estudante-todos {
display:grid;
grid-template-columns: 20% 20% 20% 20%;
}
<div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>
<div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>
<div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>
<div class=”estudante-todos”>
<span></span>
<div class=”estudante-div”>
